
img/.DS_Store
img/projects/team/.DS_Store
img/projects/team/it-test/.DS_Store
img/projects/team/questify/.DS_Store
img/projects/personal/wedding/.DS_Store
img/projects/personal/pro-test/.DS_Store
img/projects/personal/.DS_Store
